In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
gdp_df = pd.read_csv("../data/gdp_per_capita.csv")

In [3]:
gdp_df.head(10)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN
6     Afghanistan  2013  2116.465454              NaN
7     Afghanistan  2012  2075.491747              NaN
8     Afghanistan  2011  1904.559799              NaN
9     Afghanistan  2010  1957.029338              NaN

In [4]:
gdp_df.tail(5)

<bound method NDFrame.tail of      Country or Area                                      Year        Value  \
0        Afghanistan                                      2019  2065.036398
1        Afghanistan                                      2018  2033.779002
2        Afghanistan                                      2017  2058.383832
3        Afghanistan                                      2016  2057.062164
4        Afghanistan                                      2015  2068.265904
...              ...                                       ...          ...
6865        Zimbabwe                                      1992  3054.889178
6866        Zimbabwe                                      1991  3426.598094
6867        Zimbabwe                                      1990  3324.348171
6868   footnoteSeqID                                  Footnote          NaN
6869               2  Excludes South Sudan after July 9, 2011.          NaN

      Value Footnotes
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
6865              NaN
6866              NaN
6867              NaN
6868              NaN
6869              NaN

[6870 rows x 4 columns]>